{% extends "base.html" %}

{% block content %}
<style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/img/bg.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            color: #fff;
        }
    }
</style>
<div class="container">
<div class="card">
  <h4 class="card-header" style="font-weight: 700;">Rhincodon typus isolate HP_NUS355 cytochrome oxidase subunit 1 (COI) gene, partial cds; mitochondrial</h4>
  <h5 class= "card-header" style="font-weight: 400; color: #134094 ;;">GenBank: MN759764.1</h5>
  <div class="card-body">
    <h6 class="card-title" style="font-weight: 700; color: #2b2b2b ;">LOCUS</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">MN759764</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">DEFINITION</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Rhincodon typus isolate HP_NUS355 cytochrome oxidase subunit 1
            (COI) gene, partial cds; mitochondrial.</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b ;">ACCESSION</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">MN759764</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b ;">KEYWORDS</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">MN759764</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b ;">SOURCE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">MN759764</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">ORGANISM</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">MN759764</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">ORIGIN</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353"><br>1 accctttatt taatctttgg tgcatgagca ggaatagtag gtctagctct cagtcttcta</br>
      <br>61 attcgagctg aactaagcca acctggatct cttttaggag atgatcagat ttataatgtg</br>
      <br>121 atcgtaacag ctcatgcctt tgtaataatc ttctttatag ttataccagt aataattggt</br>
      <br>181 gggtttggaa actgactagt gcccttaata attggtgcac ctgatatagc cttcccacga</br>
      <br>241 ataaataaca taagcttttg attacttcca ccttcattct tactactatt agcttctgca</br>
      <br>301 ggagtagaag ctggggcagg aacaggctga actgtttatc caccattagc aggcaatcta</br>
      <br>361 gcccacgcgg gagcatcagt tgatctaact attttctcct tacatctagc aggaatttca</br>
      <br>421 tcaattttag cctccattaa cttcatcaca actattatta atataaaacc accagctatc</br>
      <br>481 tctcaatacc aaacaccact attcgtctga tctattcttg taactaccat tctactacta</br>
      <br>541 ctttcattac cagtactagc agcaggaatt acaatattac ttacagaccg aaatcttaac</br>
      <br>601 acaacatttt tcgatccggc aggaggtgga gatcctatct tgtatcaaca tttattttga</br>
      <br>661 tttttt</br></p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">COMMENT</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">
    		<br>##Assembly-Data-START##</br>
            <br>Sequencing Technology :: Sanger dideoxy sequencing,</br>
            <br>##Assembly-Data-END##</br></p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">FEATURES</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Location/Qualifiers</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">SOURCE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">1..666
                     <br>/organism="Rhincodon typus"</br>
                     <br>/organelle="mitochondrion"</br>
                     <br>/mol_type="genomic DNA"</br>
                     <br>/isolate="HP_NUS355"</br>
                     <br>/db_xref="taxon:259920"</br>
                     <br>/geo_loc_name="Indonesia"</br>
                     <br>/note="Taman Nasional Teluk Cenderawasih</br></p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">GENE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">
    				 <br><1..>666</br>
                     <br>/gene="COI"</br></p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">CDS</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353"><1..>666
                     <br>/gene="COI"</br>
                     <br>/codon_start=1</br>
                     <br>/transl_table=2</br>
                     <br>/product="cytochrome oxidase subunit 1"</br>
                     <br>/protein_id="QIZ16608.1"</br>
                    <br> /translation="TLYLIFGAWAGMVGLALSLLIRAELSQPGSLLGDDQIYNVIVTA
                     HAFVMIFFMVMPVMIGGFGNWLVPLMIGAPDMAFPRMNNMSFWLLPPSFLLLLASAGV
                  EAGAGTGWTVYPPLAGNLAHAGASVDLTIFSLHLAGISSILASINFITTIINMKPPAI
                     SQYQTPLFVWSILVTTILLLLSLPVLAAGITMLLTDRNLNTTFFDPAGGGDPILYQHL
                     FWFF"</br></p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">REFERENCE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">1  (bases 1 to 666)</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">AUTHORS</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Toha,A.H.A., Dailami,M., Anwar,S., Setiawan,J.B., Jentewo,Y.,
            Lapadi,I., Sutanto,S., Aryasari,R., Ambariyanto,A., Runtuboi,F. and
            Madduppa,H.</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">TITLE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">The genetic relationships and Indo-Pacific connectivity of whale
            sharks (Rhincodon typus) with particular reference to mitochondrial
            COI gene sequences from Cendrawasih Bay, Papua, Indonesia</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">JOURNAL</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Biodiversitas 21 (5), 2159-2171 (2020)</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">REFERENCE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">2  (bases 1 to 666)</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">TITLE</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Direct Submission</p>

    <h6 class="card-title" style="font-weight: 700;color: #2b2b2b  ;">JOURNAL</h6>
    <p class="card-text" style="font-size:16px;font-weight:300;color:#535353">Submitted (01-DEC-2019) Fisheries, Universitas Papua, Jl. Gunung
            Salju, Amban, Papua Barat 98314, Indonesia</p>
  </div>
</div>
</div>
{% endblock %}